<mat-card>
    <mat-card-title>
        Store Screen
    </mat-card-title>
    <mat-card-subtitle>
        You're navigating in the Store Screen
    </mat-card-subtitle>
    <mat-card-content>
        This page was created for an example of navigation
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="showOKMessage('OK button clicked')">
            OK
        </button>
        <button mat-raised-button (click)="showCancelMessage('Cancel button clicked')">
            Cancel</button>
      </mat-card-actions>
</mat-card>