.header {
    display: flex;
    align-items: center;
}

.header .title-group {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 10px;
}